div.page {
    background: white;
    width: 21cm;
    min-height: 29.7cm;
    display: block;
    margin: 0 auto 0;
}

div.page_break {
    page-break-after: always;
}

@media print {
    html, body {
        width: 21cm;
        height: 29.7cm;
    }

    div.page {
        width: initial;
        min-height: initial;
        background: initial;
    }
}

@page {
    size: A4;
    margin: 0;
}

div.container {
    width: 100%;
    display: inline-table;
    margin: 0 10px 0 10px
}

div.half {
    display: inline-block;
    position: relative;
    width: 50%;
    border: thick black;
    vertical-align: top;
}

div.bordered {
    padding: 5px 10px 5px 10px;
    border-style: solid;
}

h1.title {
    text-align: center;
}

div.allures {
    padding-bottom: 40px;
}

div.spacing {
    margin-bottom: 20px;
}

img.allure {
    max-width: 400px;
    max-height: 400px;
    width: auto;
    z-index: -1;
}

img.logo-equimetrix {
    max-width: 40px;
    max-height: 40px;
}

img.logo-sogen {
    float: left;
    height: 100px
}

div.legend_text {
    font-size: 9pt;
}

span.median {
    font-size: 9px;
    vertical-align: super;
}