img.arrow {
    position: absolute;
    z-index: 5;
}

span.abs {
    position: absolute;
    font-family: Arial;
    font-size: 8pt;
    z-index: 10;
    color: blue;
}

span.info {
    position: absolute;
    font-weight: bold;
    font-family: Arial;
    z-index: 10;
}

span.speed {
    color: dodgerblue;
    font-size: 12pt;
}

span.stride_frequency {
    color: forestgreen;
    font-size: 12pt;
}

span.stride_length {
    color: yellowgreen;
    font-size: 12pt;
}

span.vertical_power {
    color: darkorange;
    font-size: 12pt;
}

span.vertical_displacement {
    color: chocolate;
    font-size: 10pt;
}

span.symmetry {
    color: black;
    font-size: 10pt;
}

span.regularity {
    color: black;
    font-size: 10pt;
}

span.horizontal_power {
    color: red;
    font-size: 12pt;
}

/* position of the images */
img.speed {
    max-width: 60px;
}

img.stride_frequency {
    max-width: 100px;
    max-height: 100px;
}

img.stride_length {
    max-width: 250px;
}

img.regularity {
    max-width: 35px;
    max-height: 35px;
}

img.vertical {
    max-height: 130px;
}

img.horizontal_power {
    max-width: 40px;
}