div.avg-trot > span.speed {
    left: 20px;
    top: 145px;
}

div.avg-trot > span.stride_frequency {
    left: 20px;
    top: 270px;
}

div.avg-trot > span.stride_length {
    left: 160px;
    top: 300px;
}

div.avg-trot > span.vertical_power {
    left: 170px;
    top: 40px;
}

div.avg-trot > span.vertical_displacement {
    left: 185px;
    top: 65px;
}

div.avg-trot > span.regularity {
    left: 130px;
    top: 115px;
}

div.avg-trot > span.symmetry {
    left: 130px;
    top: 165px;
}

div.avg-trot > span.horizontal_power {
    left: 310px;
    top: 128px;
}

/* position of the images */
div.avg-trot > img.speed {
    left: 30px;
    top: 160px;
}

div.avg-trot > img.stride_frequency {
    left: 50px;
    top: 210px;
}

div.avg-trot > img.stride_length {
    max-width: 280px;
    left: 95px;
    top: 280px;
}

div.avg-trot > img.regularity {
    left: 140px;
    top: 130px;
}

div.avg-trot > img.vertical {
    left: 200px;
    top: 80px;
}

div.avg-trot > img.horizontal_power {
    left: 260px;
    top: 120px;
}