div.avg-canter > span.speed {
    left: 10px;
    top: 125px;
}

div.avg-canter > span.stride_frequency {
    left: 10px;
    top: 230px;
}

div.avg-canter > span.stride_length {
    left: 170px;
    top: 250px;
}

div.avg-canter > span.vertical_power {
    left: 180px;
    top: 25px;
}

div.avg-canter > span.vertical_displacement {
    left: 195px;
    top: 50px;
}

div.avg-canter > span.regularity {
    left: 130px;
    top: 105px;
}

div.avg-canter > span.horizontal_power {
    left: 310px;
    top: 95px;
}

/* position of the images */
div.avg-canter > img.speed {
    left: 20px;
    top: 140px;
}

div.avg-canter > img.stride_frequency {
    left: 50px;
    top: 165px;
}

div.avg-canter > img.stride_length {
    left: 70px;
    top: 230px;
}

div.avg-canter > img.regularity {
    left: 135px;
    top: 120px;
}

div.avg-canter > img.vertical {
    max-height: 110px;
    left: 200px;
    top: 70px;
}

div.avg-canter > img.horizontal_power {
    left: 260px;
    top: 85px;
}