div.legend > span.speed {
    left: 20px;
    top: 145px;
}

div.legend > span.stride_frequency {
    left: 5px;
    top: 260px;
}

div.legend > span.stride_length {
    left: 160px;
    top: 300px;
}

div.legend > span.vertical_power {
    left: 150px;
    top: 10px;
}

div.legend > span.vertical_displacement {
    left: 165px;
    top: 50px;
}

div.legend > span.regularity {
    left: 125px;
    top: 102px;
}

div.legend > span.symmetry {
    left: 130px;
    top: 162px;
}

div.legend > span.horizontal_power {
    left: 320px;
    top: 100px;
}

/* position of the images */
div.legend > img.speed {
    left: 30px;
    top: 180px;
}

div.legend > img.stride_frequency {
    left: 50px;
    top: 200px;
}

div.legend > img.stride_length {
    max-width: 280px;
    left: 95px;
    top: 280px;
}

div.legend > img.regularity {
    left: 140px;
    top: 130px;
}

div.legend > img.vertical {
    left: 195px;
    top: 80px;
}

div.legend > img.horizontal_power {
    left: 270px;
    top: 120px;
}

/*  legends to explain radar*/
div.canvas > span.inferior {
    left: 5px;
    top: 280px;
}

div.canvas > span.equals {
    left: 200px;
    top: 280px;
}

div.canvas > span.superior {
    left: 200px;
    top: -15px;
}

div.canvas > span.median {
    left: 0;
    top: 0;
}
span.value {
    left: 150px;
    top: 360px;
}

div.legend-canvas {
    position: absolute;
    z-index: 20;
    left: 0px;
    top: 0px
}