/* position of the texts */
div.walk > span.speed {
    left: 20px;
    top: 125px;
}

div.walk > span.stride_frequency {
    left: 15px;
    top: 270px;
}

div.walk > span.stride_length {
    left: 180px;
    top: 300px;
}

div.walk > span.vertical_power {
    left: 170px;
    top: 25px;
}

div.walk > span.vertical_displacement {
    left: 185px;
    top: 50px;
}

div.walk > span.regularity {
    left: 120px;
    top: 105px;
}

div.walk > span.symmetry {
    left: 120px;
    top: 155px;
}

div.walk > span.horizontal_power {
    left: 305px;
    top: 90px;
}

/* position of the images */
div.walk > img.speed {
    left: 25px;
    top: 140px;
}

div.walk > img.stride_frequency {
    left: 50px;
    top: 210px;
}

div.walk > img.stride_length {
    left: 110px;
    top: 280px;
}

div.walk > img.regularity {
    left: 125px;
    top: 120px;
}

div.walk > img.vertical {
    left: 190px;
    top: 65px;
}

div.walk > img.horizontal_power {
    left: 260px;
    top: 80px;
}