div.working-canter > span.speed {
    left: 40px;
    top: 150px;
}

div.working-canter > span.stride_frequency {
    left: 25px;
    top: 275px;
}

div.working-canter > span.stride_length {
    left: 160px;
    top: 310px;
}

div.working-canter > span.vertical_power {
    left: 180px;
    top: 25px;
}

div.working-canter > span.vertical_displacement {
    left: 195px;
    top: 50px;
}

div.working-canter > span.regularity {
    left: 135px;
    top: 125px;
}

div.working-canter > span.horizontal_power {
    left: 310px;
    top: 110px;
}

/* position of the images */
div.working-canter > img.speed {
    left: 45px;
    top: 165px;
}

div.working-canter > img.stride_frequency {
    left: 80px;
    top: 220px;
}

div.working-canter > img.stride_length {
    left: 90px;
    top: 290px;
}

div.working-canter > img.regularity {
    left: 140px;
    top: 140px;
}

div.working-canter > img.vertical {
    max-height: 150px;
    left: 205px;
    top: 70px;
}

div.working-canter > img.horizontal_power {
    left: 265px;
    top: 100px;
}