div.working-trot > span.speed {
    left: 15px;
    top: 145px;
}

div.working-trot > span.stride_frequency {
    left: 10px;
    top: 295px;
}

div.working-trot > span.stride_length {
    left: 160px;
    top: 315px;
}

div.working-trot > span.vertical_power {
    left: 160px;
    top: 65px;
}

div.working-trot > span.vertical_displacement {
    left: 175px;
    top: 90px;
}

div.working-trot > span.regularity {
    left: 120px;
    top: 135px;
}

div.working-trot > span.symmetry {
    left: 120px;
    top: 185px;
}

div.working-trot > span.horizontal_power {
    left: 295px;
    top: 130px;
}

/* position of the images */
div.working-trot > img.speed {
    left: 25px;
    top: 160px;
}

div.working-trot > img.stride_frequency {
    left: 40px;
    top: 230px;
}

div.working-trot > img.stride_length {
    max-width: 270px;
    left: 90px;
    top: 295px;
}

div.working-trot > img.regularity {
    left: 130px;
    top: 150px;
}

div.working-trot > img.vertical {
    max-height: 120px;
    left: 190px;
    top: 105px;
}

div.working-trot > img.horizontal_power {
    left: 250px;
    top: 120px;
}